<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{[yyyy-MM-dd]} %d{[HH:mm:ss:SSS]} [%p] %C{1} :  %m%n" />
		</layout>
	</appender>

	<appender name="DEFAULTFILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="Threshold" value="debug" />
		<param name="ImmediateFlush" value="true" />
		<param name="encoding" value="UTF-8" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="rso.dfs%d{yyyy-MM-dd}.log" />
			<param name="ActiveFileName" value="rso.dfs.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{[yyyy-MM-dd]} %d{[HH:mm:ss:SSS]} %C{1} [%p] %m%n" />
		</layout>
	</appender>

	<logger name="rso.dfs">
		<level value="debug" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DEFAULTFILE" />
	</root>

</log4j:configuration>